body{
    background-color: gray;

}

#container {
    background-color: lightgrey;
    width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid black;
}

header{
    text-align: center;
}

header h1 {
color: white;
text-shadow: 2px 2px 5px black;
}

nav {
    text-align: center;
}

nav a {
    color: navy;
    font-size: 20px;
}

nav a:hover {
    text-decoration: none;
}

img {
    display: block;
    margin: 0 auto;
    width: 70%;
}

footer {
    text-align: center;
}